@using Entities
@model VCard

<h5 class="card-title">Private info</h5>
<ul class="list-group list-group-flush">
    <li class="list-group-item">@Model.Firstname</li>
    <li class="list-group-item">@Model.Surname</li>
    <li class="list-group-item">@Model.Email</li>
    <li class="list-group-item">@Model.Phone</li>
    <li class="list-group-item">@Model.Country</li>
    <li class="list-group-item">@Model.City</li>
</ul>